{% extends parent_template %}
{% block content %}
    <h1>Bienvenue !</h1>
    <p>
        Bienvenue sur l'espace réservé aux auto-entrepreneurs ! Cette espace dédié permet la gestion simplifiée des prospects
        ainsi que des clients. Il permet également de générer simplement et efficacement les devis, ainsi que les multiples
        factures. Cette espace est totalement gratuit et vos données ne seront dans aucun cas divulguées.
    </p>

{% endblock %}