<!DOCTYPE html>
<html lang="en">
{% include "Elements/Layout/Default/head.twig" %}
<body>
{% include "Elements/Layout/Default/navbar.twig" %}
{% include "Elements/Layout/Default/header.twig" %}
{% block body %}

{% endblock %}
{% include "Elements/Layout/Default/js.twig" %}
</body>
</html>