<!DOCTYPE html>
<html lang="en">

{% include "Layout/Default/head.twig" %}

<body>
{% include "Layout/Default/js.twig" %}
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
    <a href="{{ path("devis") }}">Retour</a>
  </span>

</nav>
<div class="container-fluid">
    {% include "Flash/Flash.twig" %}


    {% block content %}

    {% endblock %}
</div>


<script>
    timeago().render(document.querySelectorAll('.timeago'), 'fr')
</script>
{% block js %}

{% endblock %}
</body>
</html>